In [30]:
import pandas as pd
players = pd.read_csv('mlb_data.csv')
players.head(2)

            Name Team Position  Height  Weight    Age
0  Adam_Donachie  BAL  Catcher      74   180.0  22.99
1      Paul_Bako  BAL  Catcher      74   215.0  34.69

In [31]:
height = players['Height']
height_m = height * 0.0254
weight = players['Weight']
weight_kg = weight * 0.453592
bmi = weight_kg / height_m**2
bmi.head()

0    23.110376
1    27.604061
2    28.480805
3    28.480805
4    24.803335
dtype: float64

In [32]:
players[bmi < 21].head(2)

             Name Team          Position  Height  Weight    Age
13  Brandon_Fahey  BAL        Outfielder      74   160.0  26.11
92  Ervin_Santana  ANA  Starting_Pitcher      74   160.0  24.14

In [33]:
bmi.median()

26.08790375280194

In [46]:
""" players who are within 2 of the largest bmi: promote them to 'coach'"""
coaches = players[bmi > bmi.max() - 2]
players.loc[bmi > bmi.max()-2, 'Position'] = 'Coach'
coaches

               Name Team Position  Height  Weight    Age
64      Bobby_Jenks  CWS    Coach      75   270.0  25.96
89    Bartolo_Colon  ANA    Coach      71   250.0  33.77
236   Chris_Britton  NYY    Coach      75   278.0  24.21
833  Prince_Fielder  MLW    Coach      72   260.0  22.81